extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'notepierdas', seccion: 'belatrix'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    main
        .container.main
            .title
                h1 no te pierdas
                h2 tu estas aqui
            .contenido-mapa
                .mapa
            .contenido-boton
                a(href="#").btn.btn-lg.btn-primary pon tu ruta
         

