extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'Hackatrix', seccion: 'No te pierdas'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    main.main
        h1 no te pierdas
        .container
            
            .contenido-mapa
                 //.contenido-destino
                    .row
                        span Punto de partida
                        input(type="text")
                    .row
                        span Punto de llegada
                        input(type="text")

                form.form-horizontal
                    .form-group
                        label.col-sm-2 Punto de partida
                        .col-sm-10
                            input(type="text").form-control
                    .form-group
                        label.col-sm-2 Punto de llegada
                        .col-sm-10
                            input(type="text").form-control

                    .contenido-boton
                         a(href="#").btn.btn-lg.btn-primary pon tu ruta

                

                .contenido-tabla.table-responsive
                    table.table.table-striped.table-bordered.table-hover.table-condensed
                        thead
                            tr
                                th Ruta
                                th Linea
                                th Distancia
                                th 
                        tbody
                            tr
                                td ruta1
                                td linea1
                                td 10km
                                td
                                    a(href="#") ver mapa
                            tr
                                td ruta1
                                td linea1
                                td 10km
                                td
                                    a(href="#") ver mapa
                            tr
                                td ruta1
                                td linea1
                                td 10km
                                td
                                    a(href="#") ver mapa
                            tr
                                td ruta1
                                td linea1
                                td 10km
                                td
                                    a(href="#") ver mapa

                .contenido-mapa
                    .mapa#mapa
    
            
         

